<!DOCTYPE html>
<html>
    <head>
        {% block head %}
              <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="lain.rocks, the c00l place on the internet" />
  <meta name="keywords" content="lain, xmpp, xmpp server, im" />
  <meta name="author" content="tyt4real" />

  <link href="../css/bootstrap.min.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
  <link href="../css/index.css" rel="stylesheet" />
            <title>lain.rocks | {% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <script src="./js/styleinit.js"></script>
        <script src="./js/themeManager.js"></script>
        <div id="content">{% block content %}{% endblock %}</div>
        <img src="./images/laintransparent.png" class="bottom-left-image hide-on-mobile" id="lain">
        <img src="./images/yotsuba.png" class="bottom-left-image hide-on-mobile" id="yotsuba">
        <footer>
            {% block footer %}
                      <div id="footer" style="text-align: center; bottom: 0;">
        <p>Let's all love Lain. Copyleft 2025</p>
        <p>For all abuse complaints, contact us here: <a href="mailto:tyt4real@protonmail.com">tyt4real@protonmail.com</a></p>
      </div>
      <div class="theme-selector">
        <select id="theme-select">
          <option value="lainrocks">Default lainrocks</option>
          <option value="yotsuba">Yotsuba</option>
        </select>
      </div>       
            {% endblock %}
      </footer>
    </body>
</html>