{% extends "base.html.twig" %}

{% block title %}Server Statistics{% endblock %}
{% block head %}
    {{ parent() }}
    <!-- empty -->
{% endblock %}
{% block content %}
    <div id="app" class="container">
        <section class="mt-2 card">
            <div class="card-header">
                <h2>Server statistics as of <i>right</i> now</h2>
            </div>
            <div class="card-body">
                {{ renderServerStats() }}
            </div>
        </section>
    </div>
{% endblock %}